/* :root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

* {
  font-family: Lexend, sans-serif;
  transition: background-color 0.2s, color 0.1s, text-shadow 0.1s;
}

.equity-lab-logo {
  width: 225px;
  padding: 10px;
}

@media screen and (max-width: 1024px) {
  .equity-lab-logo {
    width: calc((3.25rem - 5px) * 9/2);
    padding: 7.5px 20px;
  }
}

.profile-section {
  padding: 4rem 5rem;
}

.has-auto-margin {
  margin: 0 auto;
}

.log-in-button {
  height: 100px;
}

.landing-text {
  font-weight: 400;
  font-size: 52px;
  margin-top: 40%;
}

.is-viewport-height {
  height: 100vh;
}