/* :root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

* {
  /* TODO: CHANGE THIS TO SANS-SERIF WHEN DONE */
  font-family: Lexend, serif;

  transition: background-color 0.2s, color 0.1s, text-shadow 0.1s;
}


.equity-lab-logo {
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-sidebar {
  height: 100vh; 
}

.inside-profile-sidebar {
  padding-top: 20px;
}

.main-panel {
  padding-top: 80px;
}
